<!DOCTYPE html>
<html>

  <head>
    <% include ../partials/header.ejs %>
  </head>

  <body>

    <% include ../partials/nav.ejs %>


    <div class="container">




      First , with your id , i create a secret hash for you that you can later see the results , and i do this for everyother users , then in that page , you can add list of users that you have crush on.


      And then you can see the matched crush in your matched list.





    </div>










    </div>


  </body>

</html>
