<!DOCTYPE html>
<html>

  <head>
    <% include ../partials/header.ejs %>
  </head>

  <body>

    <% include ../partials/nav.ejs %>


    <div class="container">


      <form action="/check" method="post">

        Enter Your ID please : <input value="x3n0b1a" type="text" class="form-control" name="name" />
        <br />
        <button class="btn btn-primary">
          Get Started!
        </button>

      </form>
    </div>










    </div>


  </body>

</html>
